@model AlmoxarifadoViewer.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h1>Criar produto</h1>

<h4>De acordo com as especificações do SAP</h4>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-9">
        <form asp-action="Create" class="jumbotron" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoSap" class="control-label">Código no SAP</label>
                <input asp-for="CodigoSap" class="form-control" />
                <span asp-validation-for="CodigoSap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome do item</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem1" class="control-label">Imagem 1</label>
                <input asp-for="Imagem1" type="file" name="imagem1" class="form-control" />
                <span asp-validation-for="Imagem1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem2" class="control-label">Imagem 2</label>
                <input asp-for="Imagem2" type="file" name="imagem2" class="form-control" />
                <span asp-validation-for="Imagem2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem3" class="control-label">Imagem 3</label>
                <input asp-for="Imagem3" type="file" name="imagem3" class="form-control" />
                <span asp-validation-for="Imagem3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem4" class="control-label">Imagem 4</label>
                <input asp-for="Imagem4" type="file" name="imagem4" class="form-control" />
                <span asp-validation-for="Imagem4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
